/.vs
/NikiConnectAPI.Lib/bin
/NikiConnectAPI.Lib/obj
/NikiConnectAPI.Test/bin
/NikiConnectAPI.Test/obj
/packages
/NikiConnectAPI.Test/.vs
/NikiConnectAPI.Lib/nugetPackagePush.cmd
/NikiConnectAPI.Test/*.user
/NikiConnectAPI.Test/App.config